.quem-somos {
    /* padding: 3rem 1rem 0 0; */
    height: 100%;
    
}
.quem-somos *{
    font-family: 'Slabo 27px', serif;
    color: white;
}
.quem-somos__titulo{
    background-color: white;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    
}
.quem-somos__titulo h1{
    margin: 0 15px 0 0;
    font-size: 2em;
    color: #a18cff;
    
}
.quem-somos__introducao{
    background-color: #77D7ED;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
.quem-somos__introducao p{
    text-align: justify;
    width: 70%;
}
.quem-somos__logo-icone {
    width: 20px;
}
.quem-somos__botao{
    margin: 20px;
    font-family: 'Vibur', cursive;
    font-size: 1.3em;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}

@media (min-width: 992px) {
    .quem-somos__titulo{
        width: 100vw;
    }
    .quem-somos__titulo h1{
        font-size: 2.5em;
    }
    .quem-somos__introducao{
        font-size: 1.7em;
    }
    .quem-somos__introducao p{
        width: 80%;
        text-align: center;
    }
    .quem-somos__logo-icone {
        width: 30px;
    }
}