.figure__{
    background-color: #77d7ed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #77D7ED;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
}
.figure__imagem{
    width: 180px;
}