.navbar-menu{
    display: flex;
    
}
.navbar-menu *{
    font-family: 'Slabo 27px', serif;
}

/* Classes do botão menu */
.navbar-menu__botao {
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.5rem;
    color:white;
    border: 1px solid white;
    background: none;
    border-radius: 20px;
}

.navbar-menu__botao--aberto:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-menu__opcoes {
    list-style: none;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    padding: 2rem 1rem 0;
    margin: 0;
    background: white;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.navbar-menu__opcoes--aberto {
    transform: translateX(0);
}

.navbar-menu__opcoes--ativo {
    border-bottom: 2px solid white;
}

.navbar-menu__opcoes li + li {
    margin-top: 1rem;
}

.navbar-menu__opcoes li a {
    cursor: pointer;
    color: #ffd689;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 992px) {
    .navbar-menu__botao {
        display: none;
    }
    
    .navbar-menu__opcoes {
        display: flex;
        align-items: center;
        position: initial;
        height: initial;
        width: initial;
        padding: initial;
        background: initial;
        transform: initial;
        transition: initial;
    }
    
    .navbar-menu__opcoes--aberto {
        transform: initial;
    }
    
    .navbar-menu__opcoes--ativo {
        border-color: white;
    }
    
    .navbar-menu__opcoes li + li {
        margin-top: 0;
        margin-left: 1rem;
    }
    
    .navbar-menu__opcoes li a {
        color: white;
        padding: 0.3rem 0;
    }
    .navbar-admirar__link{
        display: none;
    }
}
/* Classes do botão Admirar */
.navbar-admirar__botao {
    display: none;
}
.navbar-admirar__link{
    font-size: 20px;
    font-family: 'Vibur', cursive;
    text-transform: initial!important;
    color: white!important;
    background-color: #ffd689;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    font-weight: normal!important;
}
@media (min-width: 500px) {
    
.navbar-admirar__botao {
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Vibur', cursive;
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
    color: #e8717a;
    border:none;
    background-color: white;
    border-radius: 20px;
}
}