.campo {
    font-size: 1rem;
    font-family: 'Slabo 27px', serif;
    color: white;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0 0 1rem;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
}

.campo:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 2px white;
}
.campo::placeholder{
    color: white;
}
