.admirar *{
    font-family: 'Slabo 27px', serif;
    color: white;
}
.admirar__titulo{
    background-color: #a18cff;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    overflow: auto;
    
}
