.como-funciona {
    /* padding: 3rem 1rem 0 0; */
    height: 100%;
    overflow: hidden;
    
}
.como-funciona *{
    font-family: 'Slabo 27px', serif;
}
.como-funciona__titulo{
    background-color: white;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.219);
    
}
.como-funciona__titulo h1{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #a18cff;
    
}
.como-funciona__instrucoes{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.como-funciona__instrucoes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    width: 275px;
}

@media (min-width: 992px) {
    .como-funciona__titulo h1{
        font-size: 2.5em;
    }
}